<h1 class="text-5xl font-bold text-center pt-20">Experience</h1>
<div class="px-10 pt-10">
  <div class="card glass">
    <div class="card-body font-light">
      <p>
        Most of my past experiences have been teaching and developing software for non-profits. From these roles, I have picked up
   great enthusiasm for working collaboratively with team members, communicating effectively, and remaining focused on delivering 
   high-quality results. I am constantly seeking ways to improve both my technical and interpersonal skills.
      </p>
    </div>
  </div>
  </div>
<!-- <p class="px-40 pt-10">
  Most of my past experiences have been teaching and developing software for non-profits. From these roles, I have picked up
   great enthusiasm for working collaboratively with team members, communicating effectively, and remaining focused on delivering 
   high-quality results. I am constantly seeking ways to improve both my technical and interpersonal skills.</p> -->

<div *ngIf="dbs.experiences.length == 0" class="flex items-center justify-center p-20">
  <span class="loading loading-spinner text-accent mr-5"></span>
  Loading experiences data from Firestore...
</div>

<div class="grid grid-cols-2 px-10 py-5 gap-4 mb-16">
  <div *ngFor="let exp of dbs.experiences" class="card glass bg-base-100 shadow-xl">
    <div class="card-body">
      <span *ngIf="exp.ongoing" class="indicator-item indicator-center badge badge-success">Current</span> 
      <h1 class="text-lg font-bold">{{ exp.title }}</h1>      
      <h1 class="text-">{{ exp.company }}</h1>
      <h1 class="text-sm italic">{{ exp.duration }}</h1>
      <ul [innerHTML]="exp.desc">
        <!-- <li *ngFor="let bullet of exp.desc">
          • {{bullet}}
        </li> -->
      </ul>
      <br>
      <div class="flex flex-wrap gap-2">
        <span *ngFor="let skill of exp.skills" class="badge badge-secondary badge-md">{{ skill }}</span>
      </div> 
    </div>
  </div>
</div>