
<h1 class="text-5xl font-bold text-center pt-20">Projects I've Worked On</h1>
<div class="px-10 pt-10">
<div class="card glass">
  <div class="card-body font-light">
    <p>With every project, I've come to gain an appreciation for writing clean, documentable code. 
        I love spending time designing pleasing and intuitive UIs for my projects. I am familiar with backend web development concepts, integrating APIs, and have worked with reactive frontend JS frameworks.</p>
     <p>Apart from web development, I gained experience building Machine Learning projects over the past year. I'm well versed with the entire ML project life cycle in TensorFlow and PyTorch - from data pre-processing to setting up models to training and evaluating models.</p>
     <Br><p class="text-center italic">Click on the project cards below for any images and more details!</p>
  </div>
</div>
</div>

<!-- <div class="px-10 pt-10 grid grid-cols-2 gap-3">
  <div>
    <ul>
      <li>• With every project, I've come to gain an appreciation for writing clean, documentable code. 
        I love spending time designing pleasing and intuitive UIs for my projects. I am familiar with backend web development and have recently picked up reactive frontend JS frameworks.</li>
      <li>• Apart from web development, I gained experience building Machine Learning projects over the past year. I'm well versed with the entire ML project life cycle - from data pre-processing to setting up models to training and evaluating models - in TensorFlow and PyTorch.</li>
    </ul>
  </div>
  <div>
    <span class="flex items-center justify-center">Overall skills:</span>
    <div class="flex flex-wrap gap-2 items-center justify-center">
      <span *ngFor="let skill of dbs.skills" class="badge badge-primary badge-md">{{ skill }}</span>
    </div>
  </div>
</div> -->

<div  *ngIf="dbs.projects.length == 0" class="flex items-center justify-center p-20">
  <span class="loading loading-spinner text-accent mr-5"></span>
  Loading projects data from Firestore...
</div>

<div class="grid grid-cols-3 px-10 py-5 gap-4 mb-16">
  
  <!-- Create project cards -->
  <div *ngFor="let proj of dbs.projects; let i=index" class="card glass bg-base-100 shadow-xl">
    <div class="card-body" (click)="showModalByID(i)">
      <h1 class="text-lg font-bold">{{ proj.title }}</h1>      
      <h1 class="text-sm italic">{{ proj.subtitle }}</h1>
      <ul>
        {{ proj.desc }}
      </ul>
      <br>
      <div class="flex flex-wrap gap-2">
        <span *ngFor="let skill of proj.skills" class="badge badge-primary badge-md">{{ skill }}</span>
      </div> 
    </div>
  </div>

  <!-- Modal accompanying each Project card -->
  <dialog *ngFor="let proj of dbs.projects; let i=index" id="modal_{{i}}" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
      <form method="dialog">
        <button class="btn btn-lg btn-circle btn-ghost absolute right-2 top-2" (click)="hideModalByID(i)">
          <i class="bi bi-x-lg"></i>
        </button>
      </form>
      <h1 class="font-bold text-lg text-center">
        {{ proj.title }} 
        <a *ngIf="proj.projectUrl" role="button" class="btn btn-xs mx-1" href="{{proj.projectUrl}}" target="_blank">
          View Code<i class="bi bi-box-arrow-up-right"></i>
        </a>
      </h1>
      <h1 class="text-sm italic text-center">{{ proj.subtitle }}</h1>
      <p class="text-sm text-center pt-2">Skills gained/utilized:</p>
      <div class="flex flex-wrap gap-2 justify-center pt-1">
        <span *ngFor="let skill of proj.skills" class="badge badge-primary badge-md">{{ skill }}</span>
      </div> 
      <div class="py-5 px-12 flex flex-col gap-5">
          <img *ngIf="proj.imgUrl" src="{{ proj.imgUrl }}" class="w-full h-96 object-scale-down" />
          <div [innerHTML]="proj.modalDesc">
          </div>
      </div>
      <div class="flex flex-row justify-center">
        <button class="btn btn-neutral btn-outline"(click)="hideModalByID(i)">Close</button>
      </div>
    </div>
  </dialog>
</div>