<div class="grid place-items-center h-screen">

    <div>
      <div class="grid place-items-center">
        <div class="w-36 rounded-lg shadow-2xl mask mask-circle mt-10">
            <img src="https://avatars.githubusercontent.com/u/19955265?v=4" />
        </div>  
      </div>
      <h1 class="text-5xl font-bold text-center">Hi, I'm Mohammed! 
        <label class="swap swap-flip text-5xl" #emoji>
  
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" />
          
          <div class="swap-on">✨</div>
          <div class="swap-off">🤗</div>
        </label>
      </h1>        
      <div class="py-10 flex flex-row items-center justify-center space-x-4">

        <div class="tooltip tooltip-open tooltip-top" data-tip="@mohammedabkhan">
          <a class="btn btn-sm badge badge-lg  badge-accent" href="https://www.linkedin.com/in/mohammedabkhan/" target="_blank">
            <i class="bi bi-linkedin"></i>
            linkedin
          </a>
        </div>
        
        <div class="tooltip tooltip-open tooltip-bottom" data-tip="@sleepytaco">
          <a class="btn btn-sm badge badge-lg badge-neutral" href="https://github.com/sleepytaco" target="_blank">
            <i class="bi bi-github"></i>
            github
          </a>
        </div>

        <a class="btn btn-sm badge badge-lg badge-primary" href="https://cs.brown.edu/media/resumes/mkhan160.pdf" target="_blank">
          <i class="bi bi-file-earmark-fill"></i>
          resume
        </a>

        <div class="tooltip tooltip-open tooltip-bottom" data-tip="abukhan363@gmail.com">
          <a class="btn btn-sm badge badge-lg badge-secondary">
            <i class="bi bi-envelope-at-fill"></i>
            email
          </a>
        </div>

        <!-- <a class="btn badge badge-lg badge-ghost">
          <i class="bi bi-medium"></i>
            medium
        </a> -->
          <a class="btn btn-sm badge badge-lg"  (click)="themesService.toggleThemes(); emoji.click()" >
            <i class="bi bi-arrow-left-right"></i>
            {{ themesService.getCurrentThemeText }}
          </a>
      </div>

      <div class="flex flex-col items-center justify-center mt-3">
        <p>Press <kbd class="kbd kbd-sm">F</kbd> for fireworks.</p>
      </div>

      <div class="flex flex-row items-center justify-center  w-full gap-2 mt-20">
        <p>Move around with</p>
        <div class="flex justify-center gap-3">
          <kbd class="kbd">◀︎</kbd>
          <kbd class="kbd">▶︎</kbd>
        </div>
       </div>

    </div>
  </div>