<h1 class="text-5xl font-bold text-center pt-20">Education</h1>
    
<div class="grid grid-cols-2 p-10 mb-16 gap-10">
  <!-- left box -->
  <div class="flex flex-col h-auto card gap-4 glass rounded-box place-items-center py-10">
    <span class="indicator-item indicator-center badge badge-success">Expected May 2024</span>
    <div class="w-36 rounded-lg shadow-2xl mask mask-circle">
      <img src="https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515319_10192.png" />
    </div>

    <div>
      <h1 class="text-xl font-bold text-center">Brown University</h1>      
      <h1 class="text-sm italic text-center">MS in Computer Science (Aug 2022 - )</h1>
      <h1 class="text-sm text-center">GPA: 4.00</h1>
    </div>  

    <div class="flex flex-col items-center justify-center mt-3 px-10 gap-3">
      <ul>
        <li>• CS Master's student concentrating in AI and computer graphics</li>
        <li>• TA for CS1410: Artificial Intelligence</li>
      </ul>
      <p><span class="font-semibold">Relevant Coursework:</span> Artificial Intelligence, Computer Graphics, Deep Learning, Computer Vision, Computational Linguistics</p>
    </div>
  </div>

  <!-- <div class="divider lg:divider-horizontal"></div>  -->
  
  <!-- right box -->
  <div class="grid flex-grow h-auto card gap-4 glass rounded-box place-items-center py-10">
    <div class="w-36 rounded-lg shadow-2xl mask mask-circle">
      <img src="https://brand.psu.edu/images/backgrounds/penn-state-shield.jpg" />
    </div>

    <div>
      <h1 class="text-xl font-bold text-center">Penn State University - Main Campus</h1>      
      <h1 class="text-sm italic text-center">BS in Computer Engineering (Aug 2018 - May 2022)</h1>
      <h1 class="text-sm text-center">GPA: 3.66</h1>
    </div>  

    <div class="flex flex-col items-center justify-center mt-3 px-10 gap-3">
      <ul>
        <li>• Mentor for the Engineering Orientation Network club during Fall 2020</li>
        <li>• Grader for CMPSC465: Data Structures and Algorithms course during Fall 2021</li>
        <li>• Dean’s List: Fall 2019, Spring 2020, Fall 2020, Spring 2021, Fall 2021, Spring 2022</li>
      </ul>
      <p><span class="font-semibold">Relevant Coursework:</span> Data Structures and Algorithms, Software Design Methods, Operating Systems, Database Management Systems, Intro to Probability and Stochastic Processes for Engineering</p>
    </div>
  </div>
  
</div>