<h1 class="text-5xl font-bold text-center pt-20">Education</h1>
    
<div class="grid grid-cols-2 p-10 mb-16 gap-10">
  <!-- left box -->
  <div class="grid flex-grow h-auto card glass  rounded-box place-items-center py-10">
    <span class="indicator-item indicator-center badge badge-success">In Progress</span> 
      <div class="w-36 rounded-lg shadow-2xl mask mask-circle">
        <img src="https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515319_10192.png" />
      </div>

      <div>
        <h1 class="text-xl font-bold text-center">Brown University</h1>      
        <h1 class="text-sm italic text-center">MS in Computer Science (Expected May 2024)</h1>
      </div>  

      <div class="flex flex-col items-center justify-center mt-3 px-10">
        <p><span class="font-semibold">Relevant Coursework:</span> Artificial Intelligence, Computer Graphics, Deep Learning, Computer Vision, Computation Linguistics, Systems Programming</p>
      </div>
  </div> 

  <!-- <div class="divider lg:divider-horizontal"></div>  -->
  
  <!-- right box -->
  <div class="grid flex-grow h-auto card gap-4 glass rounded-box place-items-center py-10">
    <div class="w-36 rounded-lg shadow-2xl mask mask-circle">
      <img src="https://brand.psu.edu/images/backgrounds/penn-state-shield.jpg" />
    </div>

    <div>
      <h1 class="text-xl font-bold text-center">Penn State University - Main Campus</h1>      
      <h1 class="text-sm italic text-center">BS in Computer Engineering (Aug 2018 - May 2022)</h1>
    </div>  

    <div class="flex flex-col items-center justify-center mt-3 px-10">
      <p><span class="font-semibold">Relevant Coursework:</span> Data Structures and Algorithms, Software Design Methods, Operating Systems, Database Management Systems, Intro to Probability and Stochastic Processes for Engineering</p>
    </div>
  </div>
  
</div>