<h1 class="text-5xl font-bold text-center pt-20">Education</h1>
    
<div class="flex flex-col w-full lg:flex-row p-10">
  <!-- left box -->
  <div class="indicator grid flex-grow h-auto card bg-base-300 rounded-box place-items-center py-10">
    <span class="indicator-item indicator-center badge badge-success">In Progress</span> 
      <div class="w-36 rounded-lg shadow-2xl mask mask-circle">
        <img src="https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515319_10192.png" />
      </div>

      <div>
        <h1 class="text-5 font-bold text-center">Brown University</h1>      
        <h1 class="text-sm italic text-center">MS in Computer Science (Expected May 2024)</h1>
      </div>  

      <div class="flex flex-col items-center justify-center mt-3">
        <p>Press <kbd class="kbd kbd-sm">F</kbd> to pay respects.</p>
      </div>
  </div> 

  <div class="divider lg:divider-horizontal"></div> 
  <!-- right box -->
  <div class="grid flex-grow h-auto card gap-4 bg-base-300 rounded-box place-items-center py-10">
    <div class="w-36 rounded-lg shadow-2xl mask mask-circle">
      <img src="https://brand.psu.edu/images/backgrounds/penn-state-shield.jpg" />
    </div>

    <div>
      <h1 class="text-5 font-bold text-center">Penn State University - Main Campus</h1>      
      <h1 class="text-sm italic text-center">BS in Computer Engineering (Aug 2018 - May 2022)</h1>
    </div>  

    <div class="flex flex-col items-center justify-center mt-3">
      <p>Press <kbd class="kbd kbd-sm">F</kbd> to pay respects.</p>
    </div>
  </div>
</div>